<div translate>Overview.Details.InfusionParameter.Sex</div>
<div (click)="openDialog()">open Dialog</div>
<p-dialog [(visible)]="showDialog" [width]="900">
  <p-header>Some dialog</p-header>
  <p-tabView>
    <p-tabPanel header="Tab1"> </p-tabPanel>
    <p-tabPanel header="Tab2">
      <div translate>Overview.Details.InfusionParameter.Height</div>
      <div class="ui-g">
        <div class="ui-g-6">
          <div translate>Overview.Details.InfusionParameter.Weight</div>
        </div>
        <div class="ui-g-6">
          <p-fieldset>
            <p-header>
              <div>Header</div>
            </p-header>
            <div class="ui-g-6">
              <div translate>Overview.Details.InfusionParameter.Sex</div>
            </div>
            <div class="ui-g-6">
              <div translate>Overview.Details.InfusionParameter.Age</div>
            </div>
          </p-fieldset>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
